.images{
    width:17em ;
    height: 17em;
}
.titles{
    color: white;
    font-size: 1em;
}
.container{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

}
.mini-contianer{
    margin: 2em;
    width: 17rem;
}
.wishlists{
    margin: 1em 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.ratings{
    color: white;
    font-size: 1.5rem;
}
.star-div{
    display: flex;
  align-items: center;
}
.star{
    width: 2em;
    height: 2em;
    margin: 0;
    margin-right: 1.5em;
}